<% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

    <ul>
    <% @customer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@customer, :html => { :class => "form-5 clearfix" }) do |f| %>
  <p>
    <%= f.text_field :name, placeholder: "First Name" %>
    <%= f.text_field :email, placeholder: "Email" %>
    <%= f.password_field :password_digest, placeholder: "Password" %>
  </p>
  <%= button_tag(:type => "submit", class: "big_submit") do %>
    <i class="icon-arrow-right"></i>
    <span>Sign Up</span>
  <% end %>
<% end %>
