<% if @creditcard.errors.any? %>
  <section id="error_explanation">
    <h2 class="a_center"><%= pluralize(@creditcard.errors.count, "error") %></h2>
    <% @creditcard.errors.full_messages.each do |msg| %>
      <p class=""><%= msg %></p>
    <% end %>
  </section>
<% end %>

<%= form_for(@creditcard, :html => { :class => "form-5 form-vert clearfix" }) do |f| %>
  <p>
    <%= f.text_field :card_holder_name, placeholder: "Card Holder Name" %>
    <%= f.text_field :card_number, placeholder: "Card Number" %>
 
    <%= f.text_field :expiration_month, :size => 2, placeholder: "Expiration Month" %>
    <%= f.text_field :expiration_year, :size => 4, placeholder: "Expiration Year" %>

    <%= f.text_field :cvv, :size => 3, placeholder: "CVV" %>

    <%= f.text_area :billing_address, :size =>"22x10", placeholder: "Billing Address" %>
  </p>

  <%= button_tag(:type => "submit") do %>
    <i class="icon-arrow-right"></i>
    <span>Credit Card Info</span>
  <% end %>
<% end %>
