<% if @new_credit.errors.any? %>
  <section id="error_explanation">
    <h2><%= pluralize(@new_credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

    <ul>
    <% @new_credit.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </section>
<% end %>

<%= form_for(@new_credit, :html => { :class => "form-5 form-vert clearfix" }) do |f| %>
  <p>
    <%= f.text_field :amount, placeholder: "Amount" %>
  </p>
  <%= button_tag(:type => "submit") do %>
    <i class="icon-arrow-right"></i>
    <span>Authorise & Add</span>
  <% end %>
<% end %>