<div id="bl-main" class="bl-main">
	
	<!-- USER -->
	<section class="big">
		<div class="bl-box">
			<h2 class="bl-icon"><span class="f_medium d_block m_bottom "><i class="icon-user"></i></span><%= current_customer.name %></h2>
		</div>
		<div class="bl-content">
		  <h2>My Profile</h2>
			<%= render 'customer_details' %>
			<h2>My Credit Card</h2>
			<%= render 'card_details' %>
		</div>
		<span class="bl-icon bl-icon-close icon-remove-sign"></span>
	</section>

	<!-- CREDITS -->
	<section id="bl-work-section"  class="big">
		<div class="bl-box">
			  <h2 class="bl-icon">
			    <span class="f_medium d_block m_bottom1">€</span>
			    
			    <span class="f_big"><%= @credit.amount %></span>
			    <span class="f_small_sup">,00</span>
			  </h2>
		</div>
		<div class="bl-content">
			<h2>My Card Details</h2>
			<%= render 'card_details' %>
		</div>
		<span class="bl-icon bl-icon-close icon-remove-sign"></span>
	</section>

	<!-- CONTACT -->
	<section  class="small">
		<div class="bl-box">
			<h2 class="bl-icon">
			  <span class="f_medium d_block m_bottom-1"><i class="icon-envelope"></i></span>
			  <span class="f_small_contact"> Contact</span>
			</h2>
		</div>
		<div class="bl-content">
			<h2>Let's keep in touch</h2>
			<p>Stumptown helvetica cardigan, odd future seitan tattooed flannel. Kale chips direct trade cray beard. 8-bit etsy butcher post-ironic blog lo-fi mcsweeney's, sustainable pickled umami flexitarian DIY ethical plaid trust fund. Wolf cred organic, terry richardson aesthetic four loko occupy vegan chillwave readymade deep...</p>
		</div>
		<span class="bl-icon bl-icon-close icon-remove-sign"></span>
	</section>
	
	<!-- LOGOUT -->
	<section class="small">
		<div class="bl-box">
			<%= link_to signout_url() do %>
				<h2 class="bl-icon">
				  <span class="f_medium d_block m_bottom-1"><i class="icon-signout"></i></span>
				  <span class="f_small_contact">Logout</span>
				</h2>
			<% end %>
		</div>
	</section>

</div>





