<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>NFC Wallet</title>
		<meta name="description" content="Sign up, put credits and go to the event" />
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
	  <p><%= flash[:notice]%></p>
	  <div class="container">
		  <header class="logo">
		  <%if session[:cust_id]%> 
        <%= link_to(image_tag("logo1.png"),credits_url)%> 
		  <%else%>
        <%= link_to(image_tag("logo1.png"),home_page_url) %>
      <%end%>




		  </header>

      
      <% if session[:cust_id] %>
        <%= link_to 'Logout', signout_url %>
      <% end %>
      <%= yield %>
  
	  </div>
  </body>
</html>
