<!DOCTYPE html>
<html>
<head>
  <title>TnwHackathon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p style="color:#f37220;margin:5px;font-weight:bold;"><%= flash[:notice]%></p>
<%= link_to 'Logout', signout_url if session[:cust_id]  %>
<%= yield %>

</body>
</html>
